# Dependencies
/node_modules
/server/node_modules
/.pnp
.pnp.js

# Testing
/coverage
/server/coverage

# Production
/build
/dist
/server/dist

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
server/ml/__pycache__/
server/ml/ml_env/
server/ml/user_models/

# Misc
.DS_Store
